* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.HomePage {
  display: flex;
  align-items: center;
  justify-content: center;
  .card_container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 10px;

    .card_el {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      flex-direction: column;
      height: 30%;
      width: 18%;
      margin: 10px 10px;
      .addButton {
        border: none;
        background-color: rgb(39, 183, 191);
        margin: 10px 10px 0px 10px;
        border-radius: 10px;
        text-transform: capitalize;
        font-weight: 400;
        color: #ffffff;
        font-size: 12px;
      }
      .Item_name {
        font-size: 12px;
      }

      p {
        margin: 0;
      }

      img {
        height: 50%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
